<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943060197695-fmeb6j6daqjnvachrgutgcctt71a99dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943060197695-fmeb6j6daqjnvachrgutgcctt71a99dn</string>
	<key>API_KEY</key>
	<string>AIzaSyDvQ62Y_4RRX6FNj-3C59Q-8n1axGYY3Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>943060197695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-6b90b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-6b90b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943060197695:ios:7278c06390884b59b4738a</string>
</dict>
</plist>