<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749193997619-sku37nb7ptle7i15q759cug6du85jugk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749193997619-sku37nb7ptle7i15q759cug6du85jugk</string>
	<key>API_KEY</key>
	<string>AIzaSyDQwdwOlZWciDmQr6Tzk-yFi0orOiai_Dk</string>
	<key>GCM_SENDER_ID</key>
	<string>749193997619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.InstargramBeta</string>
	<key>PROJECT_ID</key>
	<string>instargrambeta-ddf86</string>
	<key>STORAGE_BUCKET</key>
	<string>instargrambeta-ddf86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749193997619:ios:717819d887438e8e636246</string>
</dict>
</plist>